.general {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.grid{
    display: grid;
    grid-template-columns: auto 390px;
    gap: 33px;
}

.grid_container_img {
    display: flex;
    justify-content: center;
}

.texts {
    margin-top: -30px;
}

.video{
    border: 6px solid white;
    width: 290px;
    height: 450px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-left: 50px;
}

.button_slider button{
    padding: 8px;
    color: #8A1720;
    font-weight: 800;
    background-color: #F1EBE0;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.47);
    cursor: pointer;
    transition: 1s;
    font-size: 18px;
}

.button_slider button:hover{
    background-color: #8A1720;
    color: #F1EBE0;
    transform: translateY(-5px);
}

.texts h3{
    font-size: 60px;
    font-weight: 900;
    line-height: 50px;
    color: #681319;
}
.texts span{
    color: #7d8ee6 !important;
}
.texts p{
    margin-top: -40px;
    color: #681319;
    font-size: 20px;
    width: 350px;
}

/* RESPONSIVE */
@media (max-width: 1400PX) {
    .video{
        margin-left: -50px;
        height: 390px;
    }
}
@media (max-width: 920PX) {
    .video{
        margin-left: 0px;
    }
}

@media (max-width: 830PX) {
    .grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;
    }
    .texts h3{
        text-align: center;
    }
    
    .description{
        display: flex;
        justify-content: center;
        text-align: center;
    }

}
@media (max-width: 480px) {
    .texts h3 {
        font-size: 42px;
        line-height: 45px;
    }
    .texts p {
        font-size: 19px;
        width: 80%;
    }
    .button_slider {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid{
        gap: 0px;
    }
    
}