.general {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.grid{
    display: grid;
    grid-template-columns: auto 390px;
    gap: 33px;
}

.grid_container_img {
    display: flex;
    justify-content: center;
}

.video{
    border: 6px solid white;
    width: 290px;
    height: 450px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-left: 50px;
}

.texts h3{
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    color: #681319;
}
.texts span{
    color: #7d8ee6 !important;
}
.texts p{
    margin-top: -40px;
    color: #681319;
    font-size: 20px;
    width: 350px;
}

/* RESPONSIVE */
@media (max-width: 1400PX) {
    .video{
        margin-left: -50px;
    }
}
@media (max-width: 920PX) {
    .video{
        margin-left: 0px;
    }
}

@media (max-width: 830PX) {
    .grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;
    }
    .texts h3{
        text-align: center;
    }
    
    .description{
        display: flex;
        justify-content: center;
        text-align: center;
    }

}
@media (max-width: 480px) {
    .texts h3 {
        font-size: 44px;
        line-height: 45px;
    }
    .texts p {
        font-size: 19px;
        width: 80%;
    }
}