.container{
    margin-top: -85px;
    background-image: linear-gradient(180deg, rgba(254,250,244,0) 68%, rgba(33,31,22,1) 100%), url("/images/talento/background-talent.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid{
    margin-top: -30px;
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    padding-bottom: 50px !important;
}

.title{
    padding-top: 140px;
    padding-left: 165px;
}

.title h2{
    line-height: 56px;
    padding-left: 50px;
    color: #FFFFFF;
    width: 300px;
    font-size: 65px;
    font-weight: 900;
}
.title p{
    color: #FFFFFF;
    font-size: 22px;
    padding-left: 50px;
    width: 360px;
    margin-top: -20px;
}

.image{
    margin-top: -80px;
}

.image img{
    margin-top: -180px;
    width: 100% !important;
    height: 100% !important;
}

.search_content{
    display: inline-block;
    width: 300px;
    height: 50px;
}

.search_grade{
    padding-left: 50px;
}
.search_grade input{
    background-color: #f1ebe0;
    width: 240px;
    height: 36.5px;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
}
.search_grade button{
    cursor: pointer;
    height: 35.5px;
    width: 60px;
    margin-left: -5px;
    border: none;
    border-top-right-radius: 5px;
    border-end-end-radius: 5px;
    background-color: #8a1720;
    text-align: center;
    padding-bottom: 36.5px;
    transition: 0.8s;
}
.search_grade button img{
    position: relative;
    top: 6px;
}
.search_grade button:hover{
    transition: 1s;
    background-color: #C1272D;
    transform: translateX(-5px);
}

/* RESPONSIVE */
@media (max-width: 1920px) {
    .title{
        margin-left: 165px;
    }
}
@media (max-width: 1620px) {
    .title{
        margin-left: 0;
        padding-left: 165px;
    }
}
@media (max-width: 1440px) {
    .title{
        padding-top: 140px;
        padding-left: 165px;
    }
}
@media (max-width: 1080px) {
    .image img{
        margin-top: -50px;
    }
}
@media (max-width: 952px) {
    .image img{
        margin-top: 50px;
    }
}
@media (max-width: 900px) {
    .image{
        display: none;
    }
}
@media (max-width: 815px) {
    .image{
        display: none;
    }
    .title{
        padding-left: 50px;
    }
    .search_grade{
        padding-left: 100px;
    }
}
@media (max-width: 560px) {
    .title{
        padding-left: 0px;
        width: 80%;
    }
    .title h2{
        font-size: 30px;
        line-height: 30px;
    }
    .title p{
        font-size: 12px;
    }
    .search_grade{
        padding-left: 40px;
        width: 50%;
    }
    .search_grade input{
        width: 170px;
    }
}
