.button_menu {
    display: flex;
    padding: 16px;
    color: white;
    font-weight: 800;
    background-color: #8A1720;
    border-radius: 6px;
    font-size: 20px;
    border: 0;
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.47);
    cursor: pointer;
    transition: 1s;
    width: 200px;
}

.button_menu:hover {
    transition: 1s;
    background-color: #C1272D;
    transform: translateY(-7px);
}

.main_title {
    display: flex;
    color: #3a3622;
    margin-bottom: -10rem;
}

.title {
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    width: 320px;
}

.main_cotainer_title {
    width: 300px;
}

.main_title_ubication {
    color: white;
    padding: 2rem;
    width: 20%;
    background-color: #681319;
    border-radius: 11px;
    border: 6px solid white;
    height: 400px;
}

.main_title_container {
    width: 100%;
}

.main_description_container {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: -40px;
}

.main_description_text {
    width: 300px;
}

.title_ubication {
    color: white;
    font-weight: 900;
    font-size: 52px;
    line-height: 46px;
}

.button_menu_ubication {
    width: 204px;
    padding: 14px;
    color: #8A1720;
    font-weight: 800;
    background-color: white;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.47);
    cursor: pointer;
    transition: 1s;
    text-align: center;
}

.button_menu_ubication:hover {
    color: white;
    transition: 1s;
    background-color: #C1272D;
    transform: translateY(-7px);
}

.container_benefits {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 1rem;

}

.center_content{
    display: flex;
    justify-content: center;
    background-image: url('/images/resource2-3.png');
    background-size: cover;
    height: 580px;
}

.main_title_benefits {
    color: white;
    width: 35%;
    border-radius: 10px;
    margin-top: 140px;
    text-align: right;
    margin-right: 7rem;
    margin-left: -24px;
    padding-top: 94px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px ;
}

.description{
    display: flex;
    justify-content: flex-end;
}

.description p{
    width: 95%;
}

.image_kid{
    background-image: url('/images/student.png');
    background-size: 100% 100%;
    width: 400px;
    height: 100%;
    background-position-y: 50px;
    background-repeat: no-repeat;
}

.title_benefits {
    color: white;
    font-weight: 900;
    font-size: 53px;
    line-height: 47px;
    margin: 0px;
}

.button{
    padding: 14px;
    color: #8A1720;
    font-weight: 800;
    background-color: white;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.47);
    cursor: pointer;
    transition: 1s;
}
.button:hover{
    color: white;
    transition: 1s;
    background-color: #C1272D;
    transform: translateY(-7px);
}

.button_menu_benefits {
    padding: 14px;
    color: #8A1720;
    font-weight: 800;
    background-color: white;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.47);
    cursor: pointer;
    transition: 1s;
}

.container_img {
    z-index: 800;
    margin-right: -70px;
    margin-top: -72px;
}

.container_tasks {
    z-index: 800;
}

.home_planet {
    margin-left: 212px;
    margin-bottom: -200px;
    margin-top: -144px;
}


.background_content {
    display: flex;
    justify-content: center;
    background-image: url('/images/resource2.png');
    background-size: 100% 100%;
    width: 100%;

    max-height: 400px;
    padding-bottom: 50px;
}


.background_content2 {
    background-image: url('/images/resource2_1.png');
    background-size: 100% 100%;
    width: 100%;
    margin-bottom: -128px;
    padding-bottom: 500px;
}
.background_content2 img{
    width: 100% !important;
}

@media (max-width: 1920px) {
    .main_title_ubication{
        width: 858px !important;
    }
    .main_title_container {
        width: 68%;
    }
}
@media (max-width: 1050px) {
    .main_title_ubication{
        width: 80% !important;
        margin-top: 186px;
    }
    .main_title{
        width: 80%;
    }
    .main_title_container img{
        width: 400px;
        height: 460px;
        margin-top: -300px;
    }
    .main_description_container{
        width: 100% !important;
    }
    .home_planet {
        margin-left: 40px;
        margin-top: -100px;
    }
    .container_benefits {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 962px) {
    .main_title_ubication{
        width: 82% !important;
        margin-top: 230px;
    }
    .container_benefits {
        width: 100%;
    }
    .main_title_benefits{
        margin-right: 0 !important;
        padding-top: 50px;
    }
    
}

@media (max-width: 828px) {
    .main_title_container img{
        display: none;
    }
    .home_planet {
        margin-left: 0;
        margin-top: -50px;
    }
    .container_benefits{
        width: 100% !important;
    }
    .image_kid{
        width: 100%;
    }
    .main_title_benefits {
        width: 100%;
        padding-right: 6px ;
    }
    .center_content{
        height: 540px;
    }
}

@media (max-width: 740px) {
    .main_title_ubication{
        width: 82% !important;
        margin-top: 230px;
    }
    .container_tasks {
        display: none;
    }
    .home_planet {
        width: 200px;
        height: 200px;
    }
    .main_title_container {
        width: 100%;
    }
    
}

@media (max-width: 612px) {
    .container_img {
        display: none;
    }
    .image_kid{
        display: none;
    }
    .title_benefits{
        margin-top: -50px;
        align-items: center;
    }
    .title_ubication {
        font-size: 38px;
    }
    .center_content{
        height: 420px;
    }
    .center_content{
        height: 450px;
    }
}

@media (max-width: 550px) {
    .home_planet{
        display: none;
    }
    .main_title{
        margin-left: 90px;
        width: 100% !important;
    }
    .title_ubication{
        font-size: 38px;
        line-height: 36px;
    }
    .center_content{
        height: 450px;
    }
}

@media (max-width: 470px) {
    .title_ubication{
        font-size: 30px;
        line-height: 28px;
    }
    .home_planet{
        display: none;
    }
    .main_description_text {
        width: 174px;
    }
    .title{
        font-size: 36px;
        line-height: 32px;
    }
    .center_content{
        height: 440px;
    }
}

@media (max-width: 440px) {
    .title_benefits{
        font-size: 37px;
    }
    .main_cotainer_title {
        width: 240px;
    }
    .button_menu_ubication {
        width: 156px;
        padding: 7px;
    }
    .main_title_benefits {
        padding: 1rem;
        padding-top: 40px;
    }
    .center_content{
        height: 500px;
    }
    
}
