.buttom_menu {
    padding: 13px 24px;
    color: white !important;
    font-weight: 600;
    background-color: #681319 !important;
    border-radius: 6px;
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.buttom_menu_idiomas{
    padding: 13px 24px;
    color: #681319 !important;
    font-weight: 600;
    background-color: #FFFFFF !important;
    border-radius: 6px;
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.navigation {
    padding: 0px !important;
}

.menu {
    margin: 0px 1rem;
}

.buttom_menu:hover {
    background-color: #C1272D !important;
    transition: 1s;
}
.buttom_menu_idiomas:hover {
    background-color: #C1272D !important;
    color: #FFFFFF !important;
    transition: 1s;
}

.general {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 10px;
    z-index: 999;
}

.menu ul {
    display: flex;
    gap:20px;
}
.botonMovil {
    display: none;
}

.social_network{
    padding: 5px;
}

.social_network i{
    color: #FFFFFF;
    background-color: #681319;
    border-radius: 50px;
    padding: 5px;
    margin-left: 10px;
    transition: 1s;
    cursor: pointer;
}
.social_network i:hover{
    color: #FFFFFF;
    background-color: #C1272D;
    transition: 1s;
}

.social_network_idiomas {
    padding: 5px;
}

.social_network_idiomas i{
    cursor: pointer;
    color: #681319;
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 5px;
    margin-left: 10px;
    transition: 1s;
}
.social_network_idiomas i:hover{
    color: #FFFFFF;
    background-color: #C1272D;
    transition: 1s;
}

.active {
    background-color: #C1272D;
    color: #FFFFFF;
    padding: 13px 24px;
    font-weight: 600;
    border-radius: 6px;
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

@media (max-width: 1022px) {
    .general {
        justify-content: space-between;
        padding: 20px 50px;
    }

    .boton {
        display: none;
    }

    .botonMovil {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background-color: #FFFFFF;
        color: #173A83;
        border: none;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        z-index: 1;
        transition: 0.5s;
    }

    .menu {
        background-color: #173A83;
        position: fixed;
        right: 0;
        min-height: 100vh;
        height: 100%;
        width: 0;
        top: 120px;
        transition: 0.5s;

    }

    .menu ul li {
        opacity: 0;
    }

    .menuActive {
        background-color: #173A83;
        position: fixed;
        right: 0;
        min-height: 100vh;
        height: 100%;
        width: 50%;
        top: 0px;
        transition: 0.5s;
    }

    .menuActive ul li a {
        color: #ffffff;
        transition: 1s;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 136px 50px;
        list-style: none;
        font-size: 17px;
        color: #ffffff;
    }

    .menuActive ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 136px 50px;
        list-style: none;
        font-size: 17px;
        color: #ffffff;
    }
}

@media (max-width: 1268px) {
    .general{
        gap: 12px;
    }

}
