.nav{
    width: 80%;
    z-index: 999;
}

.button_menu {
    padding: 13px 24px;
    color: white !important;
    font-weight: 600;
    background-color: #681319 !important;
    border-radius: 6px;
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.button_menu_idiomas{
    padding: 13px 24px;
    color: #681319 !important;
    font-weight: 600;
    background-color: #FFFFFF !important;
    border-radius: 6px;
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.navigation {
    padding: 0px !important;
}

.menu {
    margin: 0px 1rem;

}

.button_menu:hover {
    background-color: #C1272D !important;
    transition: 1s;
}
.button_menu_idiomas:hover {
    background-color: #C1272D !important;
    color: #FFFFFF !important;
    transition: 1s;
}

.general {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    z-index: 999;
}

.menu ul {
    display: flex;
    gap:15px;
}
.botonMovil {
    display: none;
}
.botonMovil2 {
    display: none;
}

.social_network{
    padding: 5px;
    margin-left: -30px;
}

.listButtons{
    margin-left: 5px;
}

.social_network i{
    color: #FFFFFF;
    background-color: #681319;
    border-radius: 50px;
    padding: 5px;
    transition: 1s;
    cursor: pointer;
    margin-left: -3px !important;
}
.social_network i:hover{
    color: #FFFFFF;
    background-color: #C1272D;
    transition: 1s;
}

.social_network_idiomas {
    padding: 5px;
    margin-left: -30px;
}

.social_network_idiomas i{
    cursor: pointer;
    color: #681319;
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 5px;
    margin-left: -3px !important;
    transition: 1s;
}
.social_network_idiomas i:hover{
    color: #FFFFFF;
    background-color: #C1272D;
    transition: 1s;
}

.active {
    background-color: #C1272D;
    color: #FFFFFF;
    padding: 13px 24px;
    font-weight: 600;
    border-radius: 6px;
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.social_network i:hover{
    background-color: #C1272D;
}

@media (max-width: 1022px) {
    .general {
        justify-content: space-between;
        padding: 20px 50px;
    }

    .boton {
        display: none;
    }

    .button_menu{
        margin-bottom: 10px;
    }
    .button_menu_idiomas{
        margin-bottom: 10px;
    }

    .botonMovil {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background-color: #FFFFFF;
        color: #68131a;
        border: none;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        z-index: -1;
        transition: 0.5s;
    }

    .active{
        margin-bottom: 10px;
    }

    .botonMovil2 {
        display: flex;
        justify-content: center;

    }
    .botonMovil2 div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        background-color: #FFFFFF;
        color: #68131a;
        height: 45px;
        border: none;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
        margin-bottom: 20px;
        align-items: center;
    }

    .menu {
        background-color: #FFFFFF;
        position: fixed;
        right: 0;
        min-height: 100vh;
        height: 100%;
        width: 0;
        top: 120px;
        transition: 0.5s;
    }

    .menu ul {
        opacity: 0;
    }

    .menuActive {
        background-color: #68131a;
        position: fixed;
        right: 0;
        min-height: 100vh;
        height: 100%;
        width: 50%;
        top: 0px;
        transition: 0.5s;
    }

    .menuActive ul {
        color: #ffffff;
        transition: 1s;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 10px;
        list-style: none;
        font-size: 17px;
        color: #ffffff;
    }

    .menuActive ul {
        flex-direction: column;
        padding-bottom: 20px;
        list-style: none;
        font-size: 17px;
        color: #ffffff;
    }

    .social_network{
        display: flex;
        justify-content: center;
    }
    .social_network i{
        margin-right: 10px;
    }
    .social_network_idiomas{
        display: flex;
        justify-content: center;
    }
    .social_network_idiomas i{
        margin-right: 10px;
    }
}

@media (max-width: 1268px) {
    .general{
        gap: 12px;
    }

}
