.section{
    background-color: #173A83;
    height: 100%;
    padding: 50px 20px 0 20px;
    width: 100%;
}

.swiper{
    margin-top: 40px;
}

.general{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card_general{
    margin-top: 40px;
}
