.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:15px;
    right:20px;
    background-color:#C1272D;
    color:#FFF;
    border-radius:50px;
    border: 1px solid #FFFFFF;
    text-align:center;
    font-size:30px;
    box-shadow: 4px 4px 6px #000000;
    z-index:900;
    transition: transform .2s;
}
.float:hover {
    text-decoration: none;
    color: #C1272D;
    background-color:#fff;
    border: 0.5px solid #C1272D;
    transform: translateY(-10px) translateX(-10px);
}

.float i{
    padding-top: 15px;
}

.float_pay img{
    position: fixed;
    width: 72px;
    height: 72px;
    right: 14px;
    bottom: 90px;
    z-index: 900;
}


.float_pay img:hover{
    border-radius: 50%;
    background-color: rgb(59, 253, 11);
    width: 85px;
    height: 85px;
}

