.ratings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ratings h4{
    color: #000000;
}

.ratings div p{
    font-size: 18px;
    color: #681319;
}